<!DOCTYPE html>
<html ng-app="MidiOverMatrix">
<head>
<script src="./main.js"></script>
</head>
<body ng-controller="MidiOverMatrixCtrl">
	<!-- Matrix context -->
	<div ng-show="['UNLOGGED', 'CONNECTING', 'CONNECTED'].indexOf(matrix.status) >= 0">
		<h1>Enter your login credentials:</h1>
		<div>
			<label>Name:</label><input name="user.name" type="text" ng-model="user.name" />
		</div>
		<div>
			<label>Password:</label><input name="user.password" type="password" ng-model="user.password" />
		</div>
		<div>
			<label>Server:</label><input name="user.homeserver" type="text" ng-model="user.homeserver" />
		</div>
		<input type="submit" ng-click="matrix.login(user.name, user.password, user.homeserver)" value="{{getLoginButtonTxt()}}" ng-disabled="['UNLOGGED'].indexOf(matrix.status) < 0" />
	</div>
	<div ng-show="['SYNCING'].indexOf(matrix.status) >= 0">
		<div>
			<div>
				<h1>Enter Jam info here:</h1>
				<h2>(Starting a Jam doesn't use the Jam Starter data)</h2>
				<input type="submit" ng-click="matrix.stop()" value="Or Logout" />
				<div>
					<label>Room:</label><input name="user.roomId" type="text" ng-model="user.roomId" />
				</div>
				<div>
					<label>Jam Starter:</label><input name="user.starterId" type="text" ng-model="user.starterId" />
				</div>
				<input type="submit" ng-click="startJam(user.roomId)" value="Start Jam" />
				<input type="submit" ng-click="joinJam(user.roomId, user.starterId)" value="Join Jam" />
			</div>
		</div>
		<!-- Midi context -->
		<div>
			<h1>Midi devices</h1>
			<div>
				<span>Midi inputs</span>
				<div ng-show="midi.inputsArray.length === 0">
					<span>
						<div>You can't use this software without MIDI input devices. Once you've connected any it will show here.</div>
						<div>
							If you don't have any we recommend using
							<a href="http://vmpk.sourceforge.net/">Virtual MIDI Piano Keyboard</a>
							and connecting it to a virtual port made with
							<a href="http://www.tobias-erichsen.de/software/loopmidi.html">loopMIDI</a>
						</div>
					</span>
				</div>
				<div ng-repeat="input in midi.inputsArray">
					<span>
						<input type="checkbox" title="Configuration of MIDI ports currently disabled" disabled checked />{{input.key}} - {{input.port.name}}
					</span>
				</div>
			</div>
			<div>
				Midi outputs
				<div>
					<span>
						<input type="checkbox" ng-model="midiInBrowser" ng-change="manageMidiInBrowser()" />Browser output
					</span>
					<span>
						<select ng-model="midi.selectedInstrument" ng-change="midi.changeInstrument()" ng-options="value as value for value in midi.instrumentNames"></select>
					</span>
				</div>
				<div ng-repeat="output in midi.outputsArray">
					<span>
						<input type="checkbox" title="Configuration of MIDI ports currently disabled" disabled />{{output.key}} - {{output.port.name}}
					</span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>