<!DOCTYPE html>
<html ng-app="MidiOverMatrix">
<head>
<script src="./main.js"></script>
</head>
<body ng-controller="MidiOverMatrixCtrl">
	<!-- Matrix context -->
	<div ng-hide="matrix.isLoggedIn">
		<div>
			<label>Name:</label><input name="user.name" type="text" ng-model="user.name" />
		</div>
		<div>
			<label>Password:</label><input name="user.password" type="password" ng-model="user.password" />
		</div>
		<div>
			<label>Server:</label><input name="user.homeserver" type="text" ng-model="user.homeserver" />
		</div>
		<input type="submit" ng-click="matrix.login(user.name, user.password, user.homeserver)" value="Login" />
	</div>
	<div ng-show="matrix.isLoggedIn">
		<!-- SELECTION BY ROOMS NOT AVAILABLE YET, ONLY PASS BY USERS
		Joined rooms
		<div ng-repeat="room in matrix.ownRooms | orderBy: 'tags[m.favourite][order]'">
			<div style="border: 1px solid red;">
				<span>{{ room.name }}</span>
				{{ jam = room.currentState.getStateEvents('m.midi.jamming', ''); isJamming = jam && jam.getContent().jamming; '' }}
				<a ng-click='matrix.setJammingStatus(room.roomId, !isJamming)'>{{ isJamming ? 'Jam started by ' + jam.getSender() : 'Jam not started' }} {{jam.getContent().jamming}}</a>
			</div>
		</div>
	 -->
		<input type="submit" ng-click="matrix.stop()" value="Stop Client" /> <input type="text" ng-model="users.filter.userId" />
		<div ng-repeat="user in matrix.users | filter:users.filter">
			<div>{{user.displayName}} ({{user.userId}}) Online:{{user.currentlyActive}}</div>
		</div>
		<div ng-repeat="user in matrix.users | orderBy: ['-currentlyActive', 'presence', 'userId'] | filter:users.filter">
			<div>{{user.displayName}} ({{user.userId}}) Online:{{user.currentlyActive}}</div>
		</div>
	</div>
	<!-- Midi context -->
	<div>
		<div>
			Midi inputs
			<div ng-repeat="input in midi.inputsArray">
				<span>
					<input type="checkbox" disabled checked/>{{input.key}} - {{input.port.name}}
				</span>
			</div>
		</div>
		<div>
			Midi outputs
			<div>
				<span>
					<input type="checkbox" ng-model="midiInBrowser" ng-change="manageMidiInBrowser()" />Browser output
				</span>
				<span>
					Instrument: <select ng-model="midi.selectedInstrument" ng-change="midi.changeInstrument()" ng-options="value as value for value in midi.instrumentNames"></select>
				</span>
			</div>
			<div ng-repeat="output in midi.outputsArray">
				<span>
					<input type="checkbox" disabled />{{output.key}} - {{output.port.name}}
				</span>
			</div>
		</div>
	</div>
</body>
</html>